@charset 'UTF-8';
* {
  padding: 0;
  margin: 0;
}

[v-cloak]{
  display: none;
}

.msgTip p{
  text-align: center;
}

body {
  background: #eee;
}
a {
  text-decoration: none;
}
i,
em,
cite {
  font-style: normal;
}
.signMod {
  margin: 100px auto 0;
  padding: 20px;
  width: 40%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 1px 1px 5px #ccc;
}
.signMod h1 {
  position: relative;
  color: #333;
  height: 60px;
  text-align: center;
  margin-top: -74px;
  font-size: 28px;
}
.signMod h1 a {
  font-weight: normal;
  font-size: 12px;
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  color: #2be;
}
.signMod h1 a i {
  color: #666;
}
.signMod .signBox {
  margin: 0 30px;
  overflow: hidden;
}
.signMod .inputBox {
  margin: 15px 0;
  height: 36px;
  line-height: 36px;
  border: solid 1px #ddd;
  border-radius: 4px;
}
.signMod .inputBox span {
  margin: 9px 0 0 10px;
  padding-right: 26px;
  width: 16px;
  height: 20px;
  display: block;
  float: left;
  border-right: solid 1px #eee;
  background: url(../img/accountsBg.png) 0 0 no-repeat;
  background-position: 0 0;
  vertical-align: -3px;
}
.signMod .inputBox span.password {
  background-position: 0 -25px;
}
.signMod .inputBox span.codeIco {
  background-position: 0 -51px;
}

.signMod .inputBox i.qrcodeTxt {
  color: #ccc;
}

.signMod .inputBox input {
  padding-left: 10px;
  display: block;
  float: left;
  width: 236px;
  height: 36px;
  line-height: 36px;
  outline: none;
  border: none;
  background: none;
}
.signMod .inputBox.codeMod {
  position: relative;
  width: 294px;
}

.signMod .inputBox.codeMod img {
  position: absolute;
  right: -100px;
  top: 1px;
  display: block;
  width: 80px;
  height: 36px;
}
.signMod .errorMod {
  font-size: 12px;
  color: #f55;
}
.signMod .errorMod span {
  margin-right: 5px;
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url(../img/accountsBg.png) 0 0 no-repeat;
  background-position: 0 -97px;
  vertical-align: -3px;
}
.signMod .forgetMod {
  font-size: 12px;
  position: relative;
  padding-bottom: 10px;
  color: #666;
  overflow: hidden;
}
.signMod .forgetMod .checkBox {
  margin-right: 3px;
  vertical-align: -2px;
  display: inline-block;
}
.signMod .forgetMod .password {
  display: block;
  color: #2be;
  position: absolute;
  top: 0;
  right: 0;
}
.signMod .signBtn {
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #2be;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 2px;
}

.signMod .signBox .toRegister{
  font-weight: normal;
  font-size: 12px;
  display: block;
  color: #2be;
  text-align: center;
  padding-top: 10px;
}



.userMsg{
  margin: 100px auto 0;
  padding: 50px 20px;
  width: 494px;
  left: 50%;
  transform: translateX(-50%);
  border: 1px solid #ddd;
  background-color: #fff;
  h2{
    margin-top: -105px;
    font-size: 28px;
    height: 70px;
    text-align: center;
  }
  .form-group{
    width: 70%;
    margin: 15px auto 0;
    button[type="submit"]{
      float: right;
    }
    &:first-child{
      margin-top: 0;
    }
  }
}

/*# sourceMappingURL=maps/userInfo.css.map */
